body {
    font-family: "Times New Roman", Times, serif;
    margin-left: auto ;
} 

header {
    background-color: rgb(255, 255, 255);
    padding: 30px;
    text-align: center;
    font-size: 35px;
    color: rgb(0, 0, 0);
}

.banner {
    max-width: 100%;
} 

nav {
    width: 100%;
    height: 150px; /* only for demonstration, should be removed */
    background: rgb(42, 161, 52);
    padding: 20px;
}

.logo {
    display: block;
    max-width: 100%;
    width: 100px;
    float: left;
}

/* unvisited link */
a:link {
    color: #FF0000;
}

/* visited link */
a:visited {
    color: #c8ff00;
}

/* mouse over link */
a:hover {
    color: #FF00FF;
}

/* selected link */
a:active {
    color: #0000FF;
}

nav ul {
    float: left;
}

h2 {
    width: 15%;
    background:rgb(42, 161, 52);
    color: white;
}

p {
    font-size: larger;
    padding: 20px;
    background-color:gainsboro;
    text-align: left;
}

ul {
    font-size: 15px;
    border-left-style:solid;
    border-color: rgb(19, 163, 230);
    border-width: thick;
    background-color: aqua;
    text-align: left;
}

img.a {
    vertical-align: baseline;
}


#deadline {
    background-color: #ff0000;
}

